# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'eyaml Encrypt': 'hiera-eyaml:encrypt-selection'
      'eyaml Decrypt': 'hiera-eyaml:decrypt-selection'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Hiera eyaml'
      'submenu': [
        { 'label': 'Create Keys', 'command': 'hiera-eyaml:create-keys' }
      ]
    ]
  }
]
